/* style.css */
body {
    font-family: 'Inter', sans-serif;
    color: #212121;
}
.bg-primary { background-color: #1976D2; }
.text-primary { color: #1976D2; }
.border-primary { border-color: #1976D2; }
.bg-secondary { background-color: #F5F5F5; }
.text-accent { color: #FFA726; }
.bg-accent { background-color: #FFA726; }
.hero-pattern {
    background-color: #ffffff;
    opacity: 0.1;
    background-image:  linear-gradient(135deg, #1976D2 25%, transparent 25%), linear-gradient(225deg, #1976D2 25%, transparent 25%), linear-gradient(45deg, #1976D2 25%, transparent 25%), linear-gradient(315deg, #1976D2 25%, #ffffff 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.feature-card:hover .feature-icon {
    transform: scale(1.1);
    color: #1976D2;
}
.comilla-grande {
    font-family: serif; /* Puedes elegir otra fuente */
    font-size: 4em; 
    color: #bbb;
    line-height: 0; /* Ajusta la altura de línea para que no afecte demasiado al texto */
}

.comilla-grande.izquierda {
    vertical-align: bottom; /* Alinea la parte superior de la comilla con el texto */
    margin-right: 0.2em; /* Un poco de espacio a la derecha */

}

.comilla-grande.derecha {
    vertical-align: bottom; /* Alinea la parte inferior de la comilla con el texto */
    margin-left: 0.1em; /* Un poco de espacio a la izquierda */

}
